<?xml version="1.0"?>
<robot name="crazyflie2" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="whycon_marker" params="namespace marker_width marker_radius marker">
		<joint name="${marker}_joint" type="fixed">
			<!-- <origin xyz="0 0 0.095" rpy="0 0 0"/> -->
			<!-- edrone's positioning -->
			<!-- <origin xyz="0 0 0.015" rpy="0 0 0"/> -->
			<!-- edrone_big's positioning -->
			<origin xyz="0 0 0.04" rpy="0 0 0"/>
			<!-- ^^ for ardrone -->
			<parent link="${namespace}/base_link"/>
			<child link="${marker}_link"/>
		</joint>
		<link name="${marker}_link">
<!-- 			<inertial>
				<mass value="0.000"/>
				<inertia ixx="1.5633333e-9" ixy="0.0" ixz="0.0"
					iyy="1.5633333e-9" iyz="0.0"
					izz="3.125e-9"/>
				</inertial> -->
				<visual name='Marker0'>
					<!-- edrone's positioning -->
					<!-- <origin xyz="-0.01838 0 0" rpy="0 1.570796327 0"/> -->
					<!-- edrone_big's positioning -->
					<origin xyz="-0.05875 0 0" rpy="0 1.570796327 0"/>
					<geometry>
						<!-- edrone's scalling factors -->
						<!-- <mesh filename="package://rotors_gazebo/models/marker0/meshes/Marker1.dae" scale="0.25 0.075 0.075"/> -->

						<!-- edrone_big's scalling factors -->
						<mesh filename="package://rotors_gazebo/models/marker0/meshes/Marker1.dae" scale="0.5 0.2375 0.2375"/>
					</geometry>
	
				</visual>
			</link>
		</xacro:macro>
	</robot>
